
body {
  background-color: #013366;
  min-width: 100%;
  max-width: 100%;
}

.loading {
  margin:0 auto;
  text-align: center;
  border-radius:8px;
  max-width:90%;
}

.intro{
  font-family: 'Audiowide', cursive;
  margin: 50px auto;
  text-align:center;
  font-size:5.0em;
  color:#fff;
  letter-spacing: -7px;
  font-weight:700;
  text-transform:uppercase;
  animation:blur .75s ease-out infinite;
  text-shadow:0 0 5px #ffff00,
      0 0 7px #ffff00;
}

@keyframes blur {
      text-shadow:0 0 10px #ffa500,
      0 0 10px #ffa500,
      0 0 25px #ffa500,
      0 0 25px #ffa500,
      0 0 25px #ffa500,
      0 0 25px #ffa500,
      0 0 25px #ffa500,
      0 0 25px #ffa500,
      0 0 50px #fe0000,
      0 0 50px #fe0000,
      0 0 50px #fe0000,
      0 0 150px #fe0000,
      0 10px 100px #fe0000,
      0 10px 100px #fe0000,
      0 10px 100px #fe0000,
      0 10px 100px #fe0000,
      0 -10px 100px #fe0000,
      0 -10px 100px #fe0000;
}

/*#appWindow {
  overflow: scroll;
  text-align: center;
}*/

/*#keyboardWindow {
  max-width: 1800px;
}*/

.keyboard {
  margin:80px 100px auto;
  /*border: 2px solid black;*/
  text-align: center;
  border-radius:8px;
  max-width:1800px;
  /*min-width: 100%;*/
}

.key {
  font-family: sans-serif;
  margin: 0 auto;
  padding: 28px;
  display: inline-block;
  border: 2px solid black;
  border-radius: 4px;
  min-width: 65px;
  max-width: 180px;
  max-height: 50px;
  box-shadow: 10px 5px 10px 0 black;
  background-color: lightblue;
}

.keyLabel {
  position:relative;
  bottom:10px;
  margin: auto;
  font-size: 50px;
  text-align: center;
}

.filename {
  position:relative;
  bottom:25px;
  font-size: 20px;
}

.green {
  background-color: #ADFF2F;
}

.red {
  background-color: red;
}

.pressed {
  box-shadow: 5px 5px 20px white;
  /*right: 10px;
  bottom: 10px;*/
}

.header {
  /*font-family: 'Audiowide', cursive;
  text-align: center;
  font-weight: bold;
  font-size: 5em;
  color: #A6CA26;
  background: #5f2c82; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #5f2c82 , #49a09d);
  background: linear-gradient(to left, #5f2c82 , #49a09d);
  padding: 50px 100px;
  border-radius: 10px;
  font-family: 'Audiowide', cursive;
  /*margin: 50px auto;*/
  margin: 0 auto;
  text-align:center;
  font-size:6.5em;
  color:#fff;
  letter-spacing: -7px;
  font-weight:700;
  text-transform:uppercase;
  animation:blur .75s ease-out infinite;
  text-shadow:0 0 5px #ffff00,
      0 0 7px #ffff00;
}

h3 {
  text-align: center;
  font-weight: bold;
  font-family: Futura, Helvetica, Garamond, Arial;
  font-size: 30px;
  /*color: #A6CA26;*/
  color: white;
}

.creators {
  color: white;
  text-align: center;
  display: block;
  margin: auto;
  width: 50%;
}

.name {
  color: white;
  text-align: center;
  font-size: 25px;
  font-family: Futura, Helvetica, Garamond, Arial;
  font-weight: bolder;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: underline;
}

.person {
  float: left;
  margin: 0 auto;
  width: calc(100% / 4);
}

.img {
  border-radius: 10px;
  border: 5px solid black;
  width: 150px;
  height: 150px;
  align-items: center;
}

#bindingWindow {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

#binding {
  margin: 0 auto;
  /*border: 2px solid black;*/
  overflow: scroll;
  height: 400px;
  text-align: center;
  border-radius:8px;
  max-width:90%;
}
.rebindNode {
  display: inline-block;
  background-color: lightblue;
  float: left;
  border-radius: 20px;
  width: 30%;
  height: 66px;
  margin: 10px;
  padding: 10px 10px;
  font-size: 30px;
  font-family: sans-serif;
}

.rebindSong {
  display: inline-block;
  float: left;
  cursor: pointer;
  font-size: 30px;
  margin-right: 15px;
  margin-left: 15px;
}
.rebindIcon {
  display: inline-block;
  width: 35px;
  padding-top: 25px;
  float: right;
  padding-right: 30px;
}
#appWindow {
  text-align: center;
}

.song-rebind-entry {
  box-shadow: 5px 5px 10px 0 black;
  background-color: lightblue;
}
